<div *ngIf="games$ | async as games">
    <mat-card class="small-spacer" *ngFor="let game of games" (click)="navigateTo(game)">
        <mat-card-content>
            <mat-card-title>
                Game: {{ game.name }}<span *ngIf="game.winner != null"> (Ended)</span>
            </mat-card-title>
            <mat-card-subtitle>
                {{game.id}}<br>
                <button class="small-spacer" mat-raised-button color="primary" [routerLink]="'/games/'+ game.id">
                    Open
                </button>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <mat-card class="small-spacer" *ngIf="games.length == 0">
        <mat-card-content>
            <mat-card-title>No games yet</mat-card-title>
            <mat-card-subtitle>Invite someone or accept an invite to play!</mat-card-subtitle>
        </mat-card-content>
    </mat-card>

    <button class="small-spacer" mat-raised-button color="primary" [routerLink]="'/invites'">
        View Invites
    </button>
</div>